<form class="search" action="/list" method="POST">

    <h3>Search</h3>

    <div class="form-group">

        <div class="text-search">
            <label for="text_search">Text Search:</label>
            <input id="text_search" type="text" name="text_search" value="{{ previous_text_search }}">

            <input type="submit" value="Search">
        </div>

        <div class="sort-field">
            <label for="sort_field">Sort field:</label>
            <select id="sort_field" name="sort_field">
                {% for field in sortable_fields.keys() %}
                    <option value="{{field}}" {% if previous_sort_field == field %}selected="selected"{%endif%}>{{ sortable_fields[field] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="sort-order">
            <label for="sort_order">Sort Order:</label>
            <select id="sort_order" name="sort_order">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>

    </div>

    <div class="form-group">

        <h4>Fields for free text search</h4>
        <ul>
            {% for field in searchable_fields.keys() %}
                <li>
                    <input type="checkbox" name="search_fields" value="{{field}}" {% if field in previous_search_fields %}checked{%endif%}>
                    <span>{{ searchable_fields[field] }}</span>
                </li>
            {% endfor %}
        </ul>

    </div>

    <div class="form-group">
        <h4>Techniques</h4>
        <ul>
            {% for technique in techniques %}
                <li>
                    <input type="checkbox" name="technique" value="{{ technique }}"  {% if technique in previous_techniques %}checked{%endif%}>
                    <span>{{ technique }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

</form>
