/* Test rule: */
* {
}

/* While in selection, make the text more readable. */
p::selection {
    color: white;
}

/* Get some colors going in this project. This will make a selection rainbow.
 * Most users won't probably notice until they select multiple paragraphs. */
p::selection:nth-of-type(6n+1) { background: #e74c3c; }
p::selection:nth-of-type(6n+4) { background: #2ecc71; }
p::selection:nth-of-type(6n+5) { background: #3498db; }

/* Placeholder color (we may use an even lighter grey in the future): */
body {
    background-color: #F8F8F8;
}

/* The wrapper will position the page closer to the middle. */
#wrapper {
    margin-top: 2.5%;
    margin-left: 10%;
}

/* Portfolio logo size. */
header img {
    width: 150px;
}

/* Handling of portfolio title. */
header h1 {
    display: inline;
}

/* Make space between portfolio title and page content. */
#content-column {
    margin-top: 20px;
}

/* Sidebar should have enough space between content and self. */
aside{
    float: left;
    margin-right: 20px;
}

/* Sidebar image size. */
.owner-info img {
    width: 200px;
}

/* Sidebar navigation list. Used to navigate around the portfolio. */
nav ul {
    padding-left: 20px;
    list-style-type: none;
    border-left: 3px solid #C8C8C8;
}
