/* The search box needs to look different since to make it apparent that it differs from other elements.
 * In this instance it differs because you can interact with it. */
.search {
    background-color: #ecf0f1;
    padding: 5px 10px;
}

/* Remove default margin and dim the text color. */
.search h3 {
    color: #34495e;
    margin: 0;
}

/* Align the sort order box. */
.sort-order {
    width: 30%;
    float: left;
}

/* Create spacing in between the search title and the actual technique list. */
.search ul {
    margin-top: 10px;
}

/* Remove default padding and default styling. */
.search ul {
    padding-left: 0;
    list-style-type: none;
}

/* Treat list items as inline blocks with a width to align them. */
.search ul li {
    display: inline-block;
    width: 20%;
}
